$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey700: hsl(0, 0%, 20%);
$grey800: hsl(0, 0%, 12%);
$grey900: hsl(0, 0%, 8%);

$font-size: 14px;

$weight400: 400;
$weight600: 600;
$weight700: 700;

$desktop-screen: 1440px;
$mobile-screen: 32px;
